BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
AlignOperands: true
BreakBeforeBraces: Attach
SortIncludes: false
IncludeBlocks: Preserve
